Kode ini dilakukan di jupyter secara local

# Input

In [ ]:
import os
import pandas as pd

In [ ]:
os.listdir("./DataPaper")

['user_1',
 'user_10',
 'user_11',
 'user_12',
 'user_13',
 'user_14',
 'user_15',
 'user_16',
 'user_17',
 'user_18',
 'user_19',
 'user_2',
 'user_20',
 'user_21',
 'user_22',
 'user_3',
 'user_4',
 'user_5',
 'user_6',
 'user_7',
 'user_8',
 'user_9']

In [ ]:
os.listdir("./DataPaper/user_1")

['Actigraph.csv',
 'Activity.csv',
 'questionnaire.csv',
 'RR.csv',
 'saliva.csv',
 'sleep.csv',
 'user_info.csv']

In [ ]:
len(os.listdir("./DataPaper"))

22

In [ ]:
user_info = pd.read_csv("./DataPaper/user_2/user_info.csv")
user_info

   Unnamed: 0 Gender  Weight  Height  Age
0           0      M      95     183   27

In [ ]:
users = ['user_1', 'user_2', 'user_3', 'user_4','user_5', 'user_6', 'user_7', 'user_8', 'user_9', 'user_10',
 'user_11', 'user_12', 'user_13', 'user_14', 'user_15', 'user_16', 'user_17', 'user_18', 'user_19', 'user_20',
 'user_21', 'user_22']

# Create Dataset

In [ ]:
def create_dataset(users,file_name,replace_na=True):
    
    """
    Returns MMASH datafarame.
    Parameters
    ---------
    nn_intervals : list
        List of Normal to Normal Interval.
    Returns
    ---------
    nni_tmstp : list
        list of time intervals between first NN-interval and final NN-interval.
    """
    
    import numpy
    
    df_concat = pd.DataFrame()
    for user in users:
        try:
            df = pd.read_csv('DataPaper/%s/%s.csv'%(user,file_name))
            df['user'] = user
            df_concat = pd.concat([df_concat,df])
        except:
            print('NO data for %s'%user)
            pass
    
    del df_concat['Unnamed: 0']
    df_concat = df_concat.set_index('user')

    if replace_na == True:
        df_concat = df_concat.replace(0,numpy.nan)

    return(df_concat)

In [ ]:
df_antro = create_dataset(users,'user_info') 
df_antro

        Gender  Weight  Height   Age
user
user_1       M      65     169  29.0
user_2       M      95     183  27.0
user_3       M      70     174  34.0
user_4       M      76     180  27.0
user_5       M      80     196  25.0
user_6       M      62     178  27.0
user_7       M      65     183  25.0
user_8       M      74     184  40.0
user_9       M      70     175  20.0
user_10      M      85     180  27.0
user_11      M     115     186  27.0
user_12      M      67     170  27.0
user_13      M      74     180  25.0
user_14      M      64     171  27.0
user_15      M      80     180  24.0
user_16      M      67     176  27.0
user_17      M      60     175  24.0
user_18      M      80     180   NaN
user_19      M      70     183  22.0
user_20      M      70     175  29.0
user_21      M      70     175  28.0
user_22      M      92     205  32.0

In [ ]:
df_question = create_dataset(users,'questionnaire')
df_question

,MEQ,STAI1,STAI2,Pittsburgh,Daily_stress,BISBAS_bis,BISBAS_reward,BISBAS_drive,BISBAS_fun,panas_pos_10,panas_pos_14,panas_pos_18,panas_pos_22,panas_pos_9+1,panas_neg_10,panas_neg_14,panas_neg_18,panas_neg_22,panas_neg_9+1
user,,,,,,,,,,,,,,,,,,,
user_1,47.0,41.0,43.0,5.0,23.0,22.0,21.0,14.0,14.0,21.0,17.0,12.0,18.0,17.0,11.0,13.0,13.0,10.0,10.0
user_2,52.0,24.0,39.0,7.0,26.0,26.0,21.0,12.0,6.0,37.0,32.0,24.0,27.0,33.0,11.0,10.0,16.0,17.0,18.0
user_3,59.0,27.0,27.0,8.0,11.0,19.0,18.0,12.0,6.0,35.0,34.0,31.0,28.0,35.0,11.0,12.0,11.0,12.0,11.0
user_4,60.0,28.0,40.0,4.0,10.0,20.0,17.0,13.0,14.0,30.0,27.0,22.0,19.0,26.0,11.0,13.0,15.0,14.0,14.0
user_5,52.0,54.0,47.0,8.0,41.0,25.0,23.0,14.0,15.0,30.0,25.0,31.0,27.0,31.0,26.0,17.0,17.0,15.0,16.0
user_6,48.0,32.0,47.0,9.0,41.0,19.0,19.0,13.0,15.0,27.0,25.0,30.0,25.0,14.0,13.0,12.0,13.0,15.0,16.0
user_7,46.0,33.0,NaN,7.0,69.0,19.0,19.0,12.0,6.0,22.0,13.0,13.0,11.0,13.0,11.0,13.0,16.0,14.0,13.0
user_8,64.0,32.0,39.0,3.0,74.0,24.0,18.0,12.0,9.0,36.0,25.0,30.0,21.0,24.0,14.0,11.0,10.0,12.0,10.0
user_9,44.0,36.0,41.0,9.0,38.0,20.0,18.0,14.0,10.0,29.0,34.0,35.0,22.0,24.0,11.0,11.0,13.0,16.0,15.0
user_10,38.0,39.0,46.0,4.0,14.0,19.0,16.0,16.0,14.0,28.0,23.0,21.0,18.0,23.0,15.0,23.0,23.0,27.0,12.0
user_11,38.0,36.0,43.0,7.0,17.0,23.0,19.0,11.0,13.0,23.0,16.0,22.0,30.0,13.0,15.0,15.0,11.0,13.0,14.0
user_12,50.0,27.0,33.0,4.0,48.0,20.0,22.0,10.0,8.0,30.0,27.0,30.0,20.0,29.0,14.0,16.0,14.0,23.0,13.0
user_13,48.0,30.0,43.0,4.0,27.0,22.0,19.0,14.0,12.0,22.0,NaN,26.0,14.0,23.0,13.0,NaN,11.0,13.0,12.0
user_14,59.0,48.0,45.0,2.0,26.0,24.0,14.0,11.0,5.0,25.0,13.0,22.0,15.0,18.0,14.0,13.0,11.0,13.0,10.0
user_15,58.0,52.0,42.0,5.0,35.0,25.0,25.0,16.0,16.0,28.0,29.0,36.0,18.0,22.0,12.0,19.0,22.0,15.0,11.0
user_16,45.0,29.0,41.0,5.0,32.0,26.0,19.0,11.0,13.0,29.0,23.0,29.0,24.0,25.0,12.0,13.0,18.0,15.0,17.0
user_17,49.0,34.0,49.0,3.0,20.0,22.0,24.0,14.0,13.0,22.0,24.0,29.0,23.0,24.0,15.0,11.0,10.0,10.0,10.0
user_18,55.0,33.0,44.0,5.0,32.0,26.0,18.0,8.0,11.0,28.0,18.0,19.0,13.0,25.0,13.0,15.0,24.0,16.0,12.0
user_19,44.0,26.0,35.0,4.0,31.0,21.0,20.0,12.0,11.0,21.0,22.0,19.0,17.0,22.0,11.0,11.0,17.0,15.0,13.0
user_20,44.0,44.0,42.0,5.0,22.0,22.0,22.0,11.0,9.0,28.0,23.0,29.0,23.0,30.0,25.0,29.0,20.0,20.0,15.0
user_21,55.0,38.0,35.0,4.0,30.0,23.0,17.0,10.0,7.0,25.0,20.0,21.0,16.0,24.0,10.0,12.0,14.0,12.0,13.0
user_22,52.0,41.0,48.0,5.0,41.0,24.0,21.0,9.0,11.0,24.0,29.0,25.0,22.0,20.0,24.0,15.0,18.0,13.0,13.0

In [ ]:
df_saliva = create_dataset(users,'saliva')
df_saliva

NO data for user_21

              SAMPLES  Cortisol NORM  Melatonin NORM
user
user_1   before sleep       0.034137    1.738385e-08
user_1        wake up       0.077939    6.747893e-09
user_2   before sleep       0.021186    1.676342e-08
user_2        wake up       0.261252    2.853905e-08
user_3   before sleep       0.012142    5.714439e-09
user_3        wake up       0.043799    3.603324e-09
user_4   before sleep       0.023772    2.149747e-08
user_4        wake up       0.041724    8.055610e-09
user_5   before sleep       0.022310    2.396239e-08
user_5        wake up       0.089516    1.096777e-08
user_6   before sleep       0.015039    1.126009e-08
user_6        wake up       0.081888    8.363179e-09
user_7   before sleep       0.020206    1.016154e-08
user_7        wake up       0.057075    1.217397e-08
user_8   before sleep       0.035106    3.334482e-09
user_8        wake up       0.086437    3.820310e-09
user_9   before sleep       0.025968    5.593342e-09
user_9        wake up       0.080560    7.385992e-09
user_10  before sleep       0.037046    8.669611e-09
user_10       wake up       0.019659    2.573795e-09
user_11  before sleep       0.040592    2.038077e-09
user_11       wake up       0.015572    9.653476e-09
user_12  before sleep       0.155777    3.542804e-09
user_12       wake up       0.145431    8.639988e-09
user_13  before sleep       0.012278    1.902268e-09
user_13       wake up       0.034191    2.295933e-09
user_14  before sleep       0.015788    6.110973e-09
user_14       wake up       0.039235    4.255579e-09
user_15  before sleep       0.020579    2.607041e-09
user_15       wake up       0.042939    1.194220e-09
user_16  before sleep       0.019456    6.923590e-09
user_16       wake up       0.042941             NaN
user_17  before sleep       0.018304    4.379331e-09
user_17       wake up       0.095269    1.529949e-08
user_18  before sleep       0.015166    1.384661e-08
user_18       wake up       0.068494    5.730512e-09
user_19  before sleep       0.012017    1.629907e-09
user_19       wake up       0.062891    1.495653e-09
user_20  before sleep       0.013820    4.885483e-09
user_20       wake up       0.047007    4.638534e-09
user_22  before sleep       0.018414    2.728199e-09
user_22       wake up       0.033249    8.283802e-10

In [ ]:
df_sleep = create_dataset(users,'sleep')
df_sleep

,In Bed Date,In Bed Time,Out Bed Date,Out Bed Time,Onset Date,Onset Time,Latency,Efficiency,Total Minutes in Bed,Total Sleep Time (TST),Wake After Sleep Onset (WASO),Number of Awakenings,Average Awakening Length,Movement Index,Fragmentation Index,Sleep Fragmentation Index
user,,,,,,,,,,,,,,,,
user_1,2,00:46,2,03:31,2,00:46,NaN,87.27,165,144,21,9,2.33,9.091,10.000,19.091
user_1,2,03:57,2,07:30,2,03:57,NaN,92.02,213,196,17,9,1.89,8.920,NaN,8.920
user_2,2,00:50,2,06:22,2,00:54,4.0,73.49,332,244,84,18,4.67,15.060,5.556,20.616
user_3,1,22:29,1,05:52,1,22:32,3.0,79.23,443,351,89,16,5.56,18.962,NaN,18.962
user_4,2,00:57,2,07:10,2,01:01,4.0,85.52,373,319,50,28,1.79,8.847,14.286,23.133
user_5,1,23:56,1,06:42,1,23:56,NaN,85.71,406,348,58,21,2.76,11.576,9.524,21.100
user_6,2,02:27,2,09:02,2,02:27,NaN,84.30,395,333,62,20,3.10,10.633,4.762,15.395
user_7,2,00:28,2,08:02,2,00:28,NaN,75.33,454,342,112,31,3.61,17.401,28.125,45.526
user_8,2,00:17,2,07:13,2,00:20,3.0,80.77,416,336,77,27,2.85,17.308,25.926,43.234
user_9,2,00:30,2,11:00,2,00:33,3.0,91.75,630,578,49,4,12.25,8.095,NaN,8.095
user_10,2,02:40,2,08:09,2,02:44,4.0,75.08,329,247,78,13,6.00,20.669,7.692,28.361
user_12,2,00:32,2,06:36,2,00:32,NaN,94.23,364,343,21,12,1.75,9.066,15.385,24.451
user_13,1,23:41,1,05:04,1,23:41,NaN,76.47,323,247,76,19,4.00,17.957,15.789,33.746
user_14,2,00:08,2,07:00,2,00:08,NaN,90.78,412,374,38,19,2.00,11.408,NaN,11.408
user_15,2,01:15,2,05:39,2,01:16,1.0,89.39,264,236,27,15,1.80,18.561,NaN,18.561
user_16,2,00:22,2,07:58,2,00:26,4.0,74.34,456,339,113,39,2.90,16.228,15.385,31.613
user_17,2,00:44,2,06:36,2,00:44,NaN,86.93,352,306,46,20,2.30,9.375,19.048,28.423
user_18,2,00:55,2,06:53,2,00:58,3.0,84.36,358,302,53,9,5.89,16.480,20.000,36.480
user_19,1,22:56,1,06:35,1,22:57,1.0,74.07,459,340,118,44,2.68,18.954,22.222,41.176
user_20,2,01:03,2,08:19,2,01:03,NaN,88.07,436,384,52,12,4.33,11.009,NaN,11.009
user_21,2,02:19,2,07:16,2,02:19,NaN,91.92,297,273,24,18,1.33,6.734,NaN,6.734
user_22,2,01:06,2,07:04,2,01:09,3.0,84.92,358,304,51,21,2.43,14.804,13.636,28.440

# Activity

In [ ]:
df_sleep.loc[df_sleep['In Bed Date']==1]

,In Bed Date,In Bed Time,Out Bed Date,Out Bed Time,Onset Date,Onset Time,Latency,Efficiency,Total Minutes in Bed,Total Sleep Time (TST),Wake After Sleep Onset (WASO),Number of Awakenings,Average Awakening Length,Movement Index,Fragmentation Index,Sleep Fragmentation Index
user,,,,,,,,,,,,,,,,
user_3,1,22:29,1,05:52,1,22:32,3.0,79.23,443,351,89,16,5.56,18.962,NaN,18.962
user_5,1,23:56,1,06:42,1,23:56,NaN,85.71,406,348,58,21,2.76,11.576,9.524,21.100
user_13,1,23:41,1,05:04,1,23:41,NaN,76.47,323,247,76,19,4.00,17.957,15.789,33.746
user_19,1,22:56,1,06:35,1,22:57,1.0,74.07,459,340,118,44,2.68,18.954,22.222,41.176

Data-data ini activity-nya hanya akan dihitung hari pertama saja

In [ ]:
df_activity = create_dataset(users,'Activity') 
df_activity

         Activity  Start    End  Day
user
user_1        2.0  10:00  10:22    1
user_1        9.0  10:37  10:40    1
user_1       10.0  10:40  10:45    1
user_1        6.0  10:55  11:00    1
user_1        2.0  11:00  11:20    1
...           ...    ...    ...  ...
user_22       3.0  22:30  00:10    1
user_22       2.0  00:20  00:40    2
user_22       6.0  17:00  17:10    1
user_22      11.0  23:20  23:30    1
user_22       NaN  01:06  07:04    2

[456 rows x 4 columns]

In [ ]:
ac = pd.read_csv("./DataPaper/user_3/activity.csv")
del ac['Unnamed: 0']
ac = ac.loc[ac['Day']==1]
ac

    Activity  Start    End  Day
0          7  09:50  10:15    1
1          9  10:00  10:10    1
2          3  10:30  13:30    1
3          6  13:30  13:50    1
4          9  14:10  14:15    1
5          3  14:30  16:30    1
6          4  17:00  17:10    1
7          2  17:10  18:30    1
8          3  18:30  19:00    1
9          5  19:15  20:10    1
10         6  21:45  22:10    1
11         1  23:15  24:00    1

In [ ]:
def make_list(ac,user):
    temp = [0 for i in range (0,13)]
    temp[0] = user
    for i in range(1,13):
        cnt = 0
        cnt = ac[ac.Activity == i].shape[0]
        if (cnt > 0):
            temp[i] = cnt  
    return temp

In [ ]:
ac2=make_list(ac)
ac2

['user_3', 1, 1, 3, 1, 1, 2, 1, 0, 2, 0, 0, 0]

In [ ]:
acc = pd.DataFrame(columns = ['user',1,2,3,4,5,6,7,8,9,10,11,12])
acc

Empty DataFrame
Columns: [user, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Index: []

In [ ]:
acc.loc[len(acc)] = ac2
acc

     user  1  2  3  4  5  6  7  8  9 10 11 12
0  user_3  1  1  3  1  1  2  1  0  2  0  0  0
1  user_3  1  1  3  1  1  2  1  0  2  0  0  0
2  user_3  1  1  3  1  1  2  1  0  2  0  0  0

In [ ]:
def count_activity(users):  
    import numpy
    df_concat = pd.DataFrame(columns = ['user',1,2,3,4,5,6,7,8,9,10,11,12])
    for user in users:
        try:
            df = df_activity.loc[df_activity.index==user]         
            #df_activity['user'] = user
            if (user == 'user_3' or user == 'user_5' or user == 'user_13' or user == 'user_19'):
                df = df.loc[df['Day']==1]
            ac2 = make_list(df,user)
            df_concat.loc[len(df_concat)] = ac2

        except:
            print('NO data for %s'%user)
            pass
    
    df_concat = df_concat.set_index('user')

    return(df_concat)

In [ ]:
activity = count_activity(users) 
activity

        1   2  3  4  5  6  7  8  9  10 11 12
user
user_1   1   4  5  2  1  4  1  1  3  9  0  0
user_2   2   5  4  1  0  3  3  1  1  0  0  2
user_3   1   1  3  1  1  2  1  0  2  0  0  0
user_4   1   6  0  0  0  4  3  1  1  0  0  2
user_5   0   3  2  0  0  4  2  0  1  0  0  0
user_6   0   6  4  0  1  3  3  3  1  0  0  0
user_7   0   2  4  0  0  2  0  1  0  0  0  2
user_8   0   7  4  0  1  4  0  1  3  0  0  2
user_9   1   1  4  0  2  3  2  1  0  0  0  2
user_10  0   4  1  2  0  5  4  0  2  4  2  0
user_11  0  11  8  0  0  5  2  0  4  0  1  2
user_12  2   3  5  0  2  6  2  2  2  0  0  3
user_13  0   2  2  0  0  2  0  0  0  0  0  0
user_14  1   1  7  0  0  4  7  1  0  0  0  1
user_15  0   0  2  0  1  3  0  0  1  0  0  2
user_16  1   1  6  0  0  5  0  1  2  0  0  2
user_17  1   2  7  0  1  7  0  1  2  0  0  2
user_18  0   5  1  0  0  3  6  0  1  0  1  3
user_19  1   4  4  0  0  5  2  1  0  0  0  1
user_20  0   0  1  0  1  4  2  1  5  0  1  2
user_21  0   5  4  0  0  5  0  0  4  0  0  0
user_22  0   1  4  0  0  3  1  0  0  0  1  0

In [ ]:
activity.to_excel('Eksplorasi Data MMASH.xlsx', sheet_name = 'sleep')

# Convert to Excel

In [ ]:
with pd.ExcelWriter('Eksplorasi Data MMASH.xlsx') as writer:  
    df_antro.to_excel(writer, sheet_name='user_info')
    df_question.to_excel(writer, sheet_name='questionnaire')
    df_saliva.to_excel(writer, sheet_name='saliva')
    df_sleep.to_excel(writer, sheet_name='sleep')    
    activity.to_excel(writer, sheet_name='activity')